.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 20px;
}
.imagePoster{
    height: 20%;
    padding: 30px;

}