ion-button{
    text-transform: initial;
}
.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30%;
    padding: 10px
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}